extends layout

block css
	each val in css
		link(rel='stylesheet', href='/stylesheets/'+val.file)

block headertags
	!= headertags

block content
	article
		if hideTitle == false
			h2= title
		if publishDate
			date
				strong= publishDate
		each val in content
			if val.type == 'p'
				p= val.text
			if val.type == 'h2'
				h2= val.text
			if val.type == 'HTML'
				!= val.text
			if val.type == 'pre'
				div.codebox
					header Code
					pre.prettyprint.linenums.lang-js= val.text
