extends layout

block navDropdowns
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown",href="#") Articles
		ul.dropdown-menu
			for val in menu.articles
				li: a(href="/edit/article?file="+val._id) #{val.title}
			li: a(href="/edit/all") All Articles
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown",href="#") Drafts
		ul.dropdown-menu
			for val in menu.drafts
				li: a(href="/edit/article?file="+val._id) #{val.title}
			li: a(href="/edit/all") All Drafts
	li.dropdown#attach-css
		a.dropdown-toggle(data-toggle="dropdown", href="#", data-bind="text: title")
		ul.dropdown-menu.keep-open(data-bind="foreach: files")
			li: a
				label.checkbox(data-bind="click: $parent.fileClicked")
					input(type="checkbox", data-bind="checked: attached")
					span(data-bind="text: filename")

block navParams
	div.container#params(data-bind="css: { 'open': showParams, 'closed' : !showParams() }")
		div.row
			div.col-lg-3
				h3 Title
				div.article-params
					p(contenteditable="true",
						data-bind="contentEditable: title",
						tabindex="1"
					) New Article
			div.col-lg-3
				h3 Url
				div.article-params
					p(
						contenteditable="true",
						data-bind="contentEditable: url",
						tabindex="2"
					) newarticle
			div.col-lg-3
				h3 Save Destination
				div.article-params
					select.form-control.input-sm(
						data-bind="value: destination",
						tabindex="3"
					)
						option(value="articles") Articles
						option(value="drafts") Drafts
						option(value="trash") Trash
			div.col-lg-3
				h3 Publish Date
				div.article-params
					p(
						contenteditable="true",
						data-bind="contentEditable: publishDate",
						tabindex="4"
					)= today			
		div.row
			div.col-lg-6
				h3 Tags
				div.article-params
					div.params-holder(data-bind="foreach: tags")
						p.label-trash
							span.label.label-info(
								data-bind="text: $data, click: $parent.deleteTag"
							)
					div.article-param-group
						span.glyphicon.glyphicon-plus.pull-right(
							style="color: #fff;",
							data-bind="click: addTag"
						)
						p(
							contenteditable="true",
							data-bind="contentEditable: newTagField, pushEnter: addTag",
							data-refresh="New Tag",
							tabindex="5"
						) New Tag
						
			div.col-lg-6
				h3 Category
				div.article-params
					div.params-holder(data-bind="foreach: allCategories")
						p.label-trash
							span.label.label-info(
								data-bind="text: $data, click: $parent.selectCategory, addSuccessLabel: $parent.category"
							)
					div.article-param-group
						span.glyphicon.glyphicon-plus.pull-right(
							style="color:#fff;",
							data-bind="click: addCategory"
						)
						p(
							contenteditable="true",
							data-bind="contentEditable: newCategoryField, pushEnter: addCategory",
							data-refresh="New Cat",
							tabindex="6"
						) New Cat
		div.row
			div.col-lg-12
				h3 Header Tags
		div.row
			div.col-lg-12
				div.article-params
					p(
						contenteditable="true",
						data-bind="contentEditable: headertags",
						tabindex="7"
					) <!--Header Tags-->
		div.row
			div.col-lg-12
				h3 Preview Text
		div.row
			div.col-lg-12
				div.article-params
					p(
						contenteditable="true",
						data-bind="contentEditable: previewText",
						tabindex="8"
					) Preview Text

block navButtons
	li: a(type="button",style="display:none;",data-bind="visible:modified,click:preview") Preview
	li: a(type="button",style="display:none;",data-bind="visible:modified,click:save") Save

block content
	div.container.index_wrapper
		div.row
			div.col-lg-2.col-lg-offset-5
				p.text-center#toggle-params
					button.btn.btn-success.btn-block.btn-sm(
						data-bind="click: toggleParams",
						type="button"
					) 
						span(data-bind="ifnot: showParams") Show Params
						span(data-bind="if: showParams") Hide Params
		div.row
			div#draftcolumn.col-lg-12
				include ./../includes/notifications
				div#articledraft(
					style="background-color:#fff;padding: 4px;font-family:Courier, monospace;border:1px solid #999;white-space:pre;",
					contenteditable="true",
					data-bind="contentEditable: content",
					data-init="false",
					data-enable-tab="true"
				)

	script(src="/components/requirejs/require.js", data-main="/javascripts/pages/article.js")
