extends layout

block navDropdowns
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown",href="#") Templates
		ul.dropdown-menu
			for file in menu.views
				li: a(href="/edit/template?file="+file) #{file}

block navParams
	div.container#params(data-bind="css: { 'open': showParams, 'closed' : !showParams() }")
		div.row
			div.col-xs-12.col-sm-6
				h3 Filename
				div.article-params
					p(contenteditable="true",data-bind="contentEditable: filename")
			div.col-xs-12.col-sm-6
				h3 Preview File
				div.article-params
					select.form-control.input-sm(data-bind="value: previewFile")
						for article in menu.articles
							option(value=article._id)= article.title

block navButtons
	li: a(href="#",data-bind="click: preview") Preview
	li: a(href="#",data-bind="click: save") Save

block content
	div.container.index_wrapper
		div.row
			div.col-xs-12
				p.text-center#toggle-params(style="width: 200px; margin: 12px auto;")
					button.btn.btn-success.btn-block.btn-sm(data-bind="click: toggleParams", type="button") 
						span(data-bind="ifnot: showParams") Show Params
						span(data-bind="if: showParams") Hide Params
		div.row
			div#draftcolumn.col-lg-12
				include ./../includes/notifications
			div#articledraft(
				style="border: 1px solid #000;",
				contenteditable="true",
				data-bind="codeMirror: content",
				data-code-mirror-mode="jade",
				data-init="false"
			)= fileContents
	
block javascripts
	script(src="/components/requirejs/require.js", data-main="/javascripts/pages/template.js")
